{:pg {:user #or [#env PGUSER "ottla"]
      :host #or [#env PGHOST "localhost"]
      :port #long #or [#env PGPORT 5432]
      :database #or [#env PGDATABASE "ottla"]
      :binary-encode? true
      :binary-decode? true}}
